* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
  }
  
  *::-webkit-scrollbar {
    width: 0.3em;
  }
   
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #01BAEF;
    outline: 1px solid #01BAEF;
  }
  body {
    background-color: #222222;
    color: #FFF;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
  }
  p {
    font-size: 0.9rem;
  }
  /* div.col-lg-3.col-md-3.col-sm-3 {
    padding: 0;
  } */
  .subtext {
    font-size: 0.7rem;
    color: #A9A9A9;
  }
  .pad {
    padding-top: 6rem;
  }
  .circular {
      width: 40px;
      height: 40px;
      background-color: #000000;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
  }
  .circular img {
      /* max-width: 100%;
      max-height: 100%; */
      width: 100%;
      height: 100%;
      /* position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); */
      object-fit: cover;
  }
.fade-enter-from {
    opacity: 0;
}
.fade-enter-active {
    transition: all 0.5s linear;
}
.fade-leave-to {
    transition: all 0.5s linear;
    opacity: 0;
}
.fa-regular, .fa-solid {
    padding: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: all 0.5s;
    cursor: pointer;
}
.fa-regular:hover, .fa-solid:hover {
    background-color: rgba(1, 186, 239, 0.1);
    color: #01BAEF;
}
.dark {
    color: #A9A9A9;
}
.active {
    color: #01BAEF !important;
}
.no-underline.light {
    transition: all 0.5s;
}
.no-underline.light:hover {
    color: #e7e9ea;
}
.talk-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #20BF55, #01BAEF);
    height: 2rem;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.5s;
}
.talk-btn:hover {
    background-position:200px; 
}
button.talk-btn {
    height: auto;
    border: 2px solid #A9A9A9;
}
.other-talks {
    text-decoration: none;
    color: #e7e9ea;
    font-size: 0.8rem;
    font-weight: 600;
}
.other-talks:hover {
    color: #e7e9ea;
}
.logo-text {
    font-weight: 700;
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 2.3rem;
    height: auto;
    margin-bottom: 0;
}
.no-underline {
    text-decoration: none;
}
.light {
    color: #e7e9ea !important;
}
.darkest {
    color: #222222;
}
.text-gradient {
    background: linear-gradient(to right, #20BF55, #01BAEF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.normal-fa {
    cursor: default;
}
.normal-fa:hover {
    background-color: transparent;
    color: #A9A9A9;
}
#nprogress .bar {
    background: linear-gradient(to right, #20BF55, #01BAEF) !important;
}
.error {
    display: block;
    margin-top: 0.1rem;
}
.alert {
    color: #ff0f0f;
}
.no-hover:hover {
    color: #e7e9ea !important;
}
.br-5 {
    border-radius: 5px;
}
.img-fluid:hover {
    filter: opacity(0.8) drop-shadow(0 0 0 #000);
}
.circular img:hover {
    filter: opacity(0.8) drop-shadow(0 0 0 #000);
}
.fade-in-pro {
    animation: fade-in 2s forwards;
}
.talk-outline-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #20BF55;
    height: 2rem;
    background: transparent;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.5s;
}
.talk-outline-btn:hover {
    background: #343434;
}
.body-wrapper {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    display: inline-block;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes right-slide {
    from {
        transform: translateX(-150px);
    }
    to {
        transform: translateX(0);
    }
}
@media (min-width: 768px) {
    .container-sm {
        max-width: 500px;
    }
}