.fa-regular, .fa-solid {
    padding: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: all 0.5s;
    cursor: pointer;
}
.fa-regular:hover, .fa-solid:hover {
    background-color: rgba(1, 186, 239, 0.1);
    color: #01BAEF;
}
.dark {
    color: #A9A9A9;
}